In [22]:
import pandas as pd
# Specify the file path
file_path = r"C:\Users\VAMSI\Desktop\project\Bird_Monitoring_Data_FOREST.XLSX"

# Read the Excel file with multiple sheets
excel_data = pd.ExcelFile(file_path)

# Get all sheet names
sheet_names_FOREST = excel_data.sheet_names

# Read data from all sheets into a dictionary
sheets_dict = {sheet: excel_data.parse(sheet) for sheet in sheet_names_FOREST}

# Example: Convert sheets_dict to a single DataFrame; this will add a new sheet column at the last.
combined_df = pd.concat(
    [df.assign(Sheet=sheet_name) for sheet_name, df in sheets_dict.items()],
    ignore_index=True
)

# later u can Drop the 'Sheet' column
combined_df = combined_df.drop(columns=['Sheet'])

In [23]:
# dropping the 'Sub_Unit_Code' column
if 'Sub_Unit_Code' in combined_df.columns:
    combined_df.drop(columns=['Sub_Unit_Code'], inplace=True)

In [24]:
# # dropping the 'sex' column
# if 'Sex' in combined_df.columns:
#     combined_df.drop(columns=['Sex'], inplace=True)

In [25]:
# calculating the mode for 'ID_Method'
mode_of_singing_method = combined_df['ID_Method'].mode()[0]

# Filling NaN values with the mode
combined_df['ID_Method'] = combined_df['ID_Method'].fillna(mode_of_singing_method)

In [26]:
# calculating the mode 'Distance']
fill_data_distance = combined_df['Distance'].mode()[0]

# Filling NaN values with the mode
combined_df['Distance'] = combined_df['Distance'].fillna(fill_data_distance)

# Remove spaces and alphabets next
combined_df['Distance'] = combined_df['Distance'].replace(r'\s+', '', regex=True)  
combined_df['Distance'] = combined_df['Distance'].replace(r'[a-zA-Z]', '', regex=True)

In [27]:
# total_rows =combined_df.shape[0]
# print(total_rows) #8546

In [28]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8546 entries, 0 to 8545
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Admin_Unit_Code              8546 non-null   object
 1   Site_Name                    8546 non-null   object
 2   Plot_Name                    8546 non-null   object
 3   Location_Type                8546 non-null   object
 4   Year                         8546 non-null   int64
 5   Date                         8546 non-null   datetime64[ns]
 6   Start_Time                   8546 non-null   object
 7   End_Time                     8546 non-null   object
 8   Observer                     8546 non-null   object
 9   Visit                        8546 non-null   int64
 10  Interval_Length              8546 non-null   object
 11  ID_Method                    8546 non-null   object
 12  Distance                     8546 non-null   object
 13  Flyover_Observed             8546 non-null   bool
 14  Sex                          3363 non-null   object
 15  Common_Name                  8546 non-null   object
 16  Scientific_Name              8546 non-null   object
 17  AcceptedTSN                  8537 non-null   float64
 18  NPSTaxonCode                 8546 non-null   int64
 19  AOU_Code                     8546 non-null   object
 20  PIF_Watchlist_Status         8546 non-null   bool
 21  Regional_Stewardship_Status  8546 non-null   bool
 22  Temperature                  8546 non-null   float64
 23  Humidity                     8546 non-null   float64
 24  Sky                          8546 non-null   object
 25  Wind                         8546 non-null   object
 26  Disturbance                  8546 non-null   object
 27  Initial_Three_Min_Cnt        8546 non-null   bool
dtypes: bool(4), datetime64[ns](1), float64(3), int64(3), object(17)
memory usage: 1.6+ MB

In [29]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

In [30]:
def get_season(month):
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    else:
        return 'Winter'

# Apply the function to the datetime column
combined_df['Season'] = combined_df['Date'].dt.month.apply(get_season)

In [31]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8546 entries, 0 to 8545
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Admin_Unit_Code              8546 non-null   object
 1   Site_Name                    8546 non-null   object
 2   Plot_Name                    8546 non-null   object
 3   Location_Type                8546 non-null   object
 4   Year                         8546 non-null   int64
 5   Date                         8546 non-null   datetime64[ns]
 6   Start_Time                   8546 non-null   object
 7   End_Time                     8546 non-null   object
 8   Observer                     8546 non-null   object
 9   Visit                        8546 non-null   int64
 10  Interval_Length              8546 non-null   object
 11  ID_Method                    8546 non-null   object
 12  Distance                     8546 non-null   object
 13  Flyover_Observed             8546 non-null   bool
 14  Sex                          3363 non-null   object
 15  Common_Name                  8546 non-null   object
 16  Scientific_Name              8546 non-null   object
 17  AcceptedTSN                  8537 non-null   float64
 18  NPSTaxonCode                 8546 non-null   int64
 19  AOU_Code                     8546 non-null   object
 20  PIF_Watchlist_Status         8546 non-null   bool
 21  Regional_Stewardship_Status  8546 non-null   bool
 22  Temperature                  8546 non-null   float64
 23  Humidity                     8546 non-null   float64
 24  Sky                          8546 non-null   object
 25  Wind                         8546 non-null   object
 26  Disturbance                  8546 non-null   object
 27  Initial_Three_Min_Cnt        8546 non-null   bool
 28  Season                       8546 non-null   object
dtypes: bool(4), datetime64[ns](1), float64(3), int64(3), object(18)
memory usage: 1.7+ MB

In [32]:
# filling the AcceptedTSN with 997805 and changing all float datatypes to int 
combined_df['AcceptedTSN'] = combined_df['AcceptedTSN'].fillna(997805)
combined_df['AcceptedTSN'] = combined_df['AcceptedTSN'].round(0).astype(int)
#combined_forest_df["Temperature"]=combined_forest_df["Temperature"].round(0).astype(int)
#combined_forest_df["Humidity"]=combined_forest_df["Humidity"].round(0).astype(int)

In [33]:
count_of_gender= combined_df['Sex'].value_counts()
count_of_gender

Sex
Undetermined    3304
Male              59
Name: count, dtype: int64

In [34]:
# filling sex with undetermined for missing values
combined_df['Sex']=combined_df['Sex'].fillna('Unknown')
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8546 entries, 0 to 8545
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Admin_Unit_Code              8546 non-null   object
 1   Site_Name                    8546 non-null   object
 2   Plot_Name                    8546 non-null   object
 3   Location_Type                8546 non-null   object
 4   Year                         8546 non-null   int64
 5   Date                         8546 non-null   datetime64[ns]
 6   Start_Time                   8546 non-null   object
 7   End_Time                     8546 non-null   object
 8   Observer                     8546 non-null   object
 9   Visit                        8546 non-null   int64
 10  Interval_Length              8546 non-null   object
 11  ID_Method                    8546 non-null   object
 12  Distance                     8546 non-null   object
 13  Flyover_Observed             8546 non-null   bool
 14  Sex                          8546 non-null   object
 15  Common_Name                  8546 non-null   object
 16  Scientific_Name              8546 non-null   object
 17  AcceptedTSN                  8546 non-null   int32
 18  NPSTaxonCode                 8546 non-null   int64
 19  AOU_Code                     8546 non-null   object
 20  PIF_Watchlist_Status         8546 non-null   bool
 21  Regional_Stewardship_Status  8546 non-null   bool
 22  Temperature                  8546 non-null   float64
 23  Humidity                     8546 non-null   float64
 24  Sky                          8546 non-null   object
 25  Wind                         8546 non-null   object
 26  Disturbance                  8546 non-null   object
 27  Initial_Three_Min_Cnt        8546 non-null   bool
 28  Season                       8546 non-null   object
dtypes: bool(4), datetime64[ns](1), float64(2), int32(1), int64(3), object(18)
memory usage: 1.6+ MB

In [35]:
#check for duplicates and print the total dupes
no_of_dupes=combined_df.duplicated().sum()
no_of_dupes

0

In [37]:
# writing the cleaned dataframe into csv file
combined_df.to_csv("_Cleaned_Forest_df.csv",index=False)